@import "../node_modules/prismjs/themes/prism-tomorrow";
@import "./assets/scss/app.scss";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;515;600;700&display=swap");

p {
  margin-bottom: 0 !important;
}

.file-item {
  border-radius: 90px;
  border: 1px solid #3f51b5;
  background: rgba(#3f51b5, .03);
  color: #3f51b5;
}

.file-item-upload-space {
  border: 2px dashed grey;
  border-radius: 0 0 24px 24px;
  color: #3f51b5;

  span {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
  }
}

.file-item-action {
  border-radius: 64px;
}

.bottom-bord {
  position: relative;

  &::before {
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    width: calc(100% - 16px);
    margin: 0 auto;
    bottom: 0;
    content: '';
    box-shadow: 0 2px 2px lightgray;
    border-bottom: 2px solid #1c6cc6;
  }
}

.grid-view-documents {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 28px;
}

.tabs-options {
  color: #1c6cc6 !important;
}

*:not(.ag-icon) {
  font-family: Comfortaa, serif !important;
}

* {
  outline: none;

  &:focus {
    outline: none !important;
  }
}
